.nav {
  background-color: #e2d6d7;
  height: 80px;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
  margin: 0;
}

.logo {
  width: 200px;
  height: 50px;
}

.navLink {
  color: #120e0e;
  font-weight: 500;
  text-decoration: none;
}
.navLink:hover {
  text-decoration: underline;
}
